<html>

<div class="wrapper">

  <%= stylesheet_link_tag "login" %>
    <div class="logo"> 
    <%= image_tag "rently.png" %>
    </div>
    <div class="text-center mt-4 name"> Log In </div><br>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span><input type="email" name="agent[email]" id="agent_email" placeholder="Email" autofocus="autofocus" autocomplete="email"></div>
    
      <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="password" autocomplete="current-password" name="agent[password]" id="agent_password" placeholder="Password"> </div>    
      <input class="btn mt-3" type="submit" name="commit" value="Log in" data-disable-with="Log in">

      <br><br>
            <a class="already" href="/agents/sign_up">You Don't have an account?<strong> Signup </strong> here.</a><div/>

    <% end %>
      
</div>
</html>