<h1>Editing Property</h1>

<%= render 'form', property: @property %>
<div class="text-center">
<%= link_to 'Show', @property, class:"col-2 btn btn-primary" %> |
<%= link_to 'Back', properties_path, class:"col-2  btn btn-primary" %>
<div/>