<br/>

<% if agent_signed_in? %>
<%= stylesheet_link_tag "mainpage" %>

<h1>Welcome To Rently Smart Home</h1>
<p>Rently Smart Home offers complete remote control of your assets with our full suite of smart devices. Manage energy usage, control access, prevent damage, and monitor activity using a single system.</p>
<%else%>
<%= stylesheet_link_tag "entry" %>
<h2>&ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&nbsp;  Welcome to Rently Smart Home!</h2>
<%end%>
