<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><h2><b> Hello <%= @agent.agent_name %>,</b> </h2> </p>
    <p><h3>Your Account was successfully created. </h3></p>
    <p><b>Username is </b> <%= @agent.email %></p>
    <p><b>Password is</b> <%=@agent.email.split('@',2)[0] %>
    </p><br/>
    Thanks and regards,</br><br><br>
    <%= image_tag (attachments['thanks.png'].url) %>
  </body>
</html>